*{
    font-family: 'Montserrat', sans-serif;
}

.initial-information{
    text-align: center;
    margin-top: 12%;
}

label{
    font-size: 23px;
    font-weight: bold;
}

input{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    font-size: 18px;
}

.bt-play{
    background-color: #ffff;
    color: #000000;
    border: 1px solid;
    border-radius: 7px;
    padding: 0.9%;
    width: 100px;
}

.bt-play:hover{
    background-color: #e69e19;
} 