<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Jogo da Memória</title>
</head>
<body>
    <div class="initial-information">
        <h1>Seja Bem Vindo(a) ao Jogo da Memória</h1>
        <label for="">Qual seu nome jogador(a)?</label><br><br>
        <input type="text" name="inputName" id="" placeholder="Digite seu nome aqui"><br><br>
        <button class="bt-play">Jogar</button>
    </div>    
</body>
</html>
