<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Jogo da Memória | Prova FrontEnd</title>
</head>
<body>
    <div class="initial-information">
        <img src="../../../assets/icons/cards.png" alt="cards">
        <h1>Seja Bem Vindo(a) ao Jogo da Memória</h1>
        <label>Qual seu nome jogador(a)?</label><br><br>
        <input type="text" name="inputName" id="" placeholder="Digite seu nome aqui"><br><br>
        <button class="bt-play" routerLink="/board">Jogar</button>
        <!--Chamada da função que serviria para criar o usuário(a) quando o nome fosse inserido em tela
            <button class="bt-play" (click)="createPlayer()">Jogar</button>
        -->
    </div>    
</body>
</html>
