.initial-information{
    text-align: center;
    margin-top: 10%;
    color: aliceblue;
}

label{
    font-size: 23px;
    font-weight: bold;
}

input{
    border: none;
    border-bottom: 1px solid #ffff;
    background: transparent;
    outline: none;
    font-size: 18px;
    color: #ffff;
}

.bt-play{
    background-color: #ffff;
    color: #000000;
    border: 1px;
    border-radius: 7px;
    padding: 0.9%;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
}

.bt-play:hover{
    background-color: #e69e19;
} 